body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.home-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11000;
  background-image: url(../../../assets/images/tiger.jpg);
  background-size: cover;
}
.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 7.5rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding-top: 1.5rem;
  text-align: center;

  .logo {
    margin-left: 1rem;
    height: 7rem;
    width: 10%;
    background-size: 6rem;
    background-repeat: no-repeat;
    background-image: url(../../common/backgrounds/logo.png);
  }

  .logo:hover {
    transform: scale(1.17);
    transition: all 2s;
  }

  .genua {
    width: 70%;
    color: darkblue;
    height: 7rem;
    font-size: 2.6rem;
  }
}

.navigation {
  position: relative;
  .Navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 4rem;

    & div {
      padding-right: 1rem;
      padding-top: 1.5rem;
      text-align: center;
      background: rgba(231, 231, 231, 0.26);
      height: 2.5rem;
      width: 100%;
      font-size: 128%;
      color: #0818f3;
      cursor: pointer;
    }

    & div:hover {
      background-color: white;
      border: ridge 1px #b7b7b7;
      background: rgba(78, 78, 78, 0.26);
      border-top: 0;
      color: darkblue;
      transition: all 1s;
    }

  }
}
.body {
  background-color: green;
  width: 100% !important;
  height: 60rem;
  position: relative;
  display: block;
  margin-top: 12rem;
  background-image: url("../../../assets/images/tiger.jpg");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;

  .content {
    height: 90% !important;
    width: 45%;
    background-color: white;
    background: rgba(68, 68, 68, 0.26);
    border-radius: 3px;
    padding: 1rem;
    font-size: 110%;
    color: black;
    font-weight: 400;
  }
  .content2 {
    height: 80%;
    width: 38%;
    background-color: white;
    background: rgba(68, 68, 68, 0.26);
    border-radius: 3px;
    padding: 1rem;
    font-size: 110%;
    color: black;
    font-weight: 400;

    h2 {
      text-align: center;
    }

    #btn-events {
      background: rgba(231, 231, 231, 0.26);
      border-radius: 3px;
      height: 3rem;
      width: 12rem;
      margin-left: 30%;
      padding-top: 1rem;
      text-align: center;
      cursor: pointer;
      border: outset 1px rgba(18, 49, 157, 0.64);
    }

    #btn-events:hover {
      border: outset 2px rgba(18, 49, 157, 0.64);
      transition: all 1s;
    }
  }

  .content3 {
    height: 30%;
    width: 92%;
    background-color: white;
    background: rgba(191, 191, 191, 0.37);
    border-radius: 3px;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 120% !important;
    color: black;
    font-weight: 400;
  }

}

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Arial Hebrew Scholar", sans-serif;
  width: 100%;
  height: 40rem;
  position: relative;

  .mission {
    background-color: white;
    margin-left: 4%;
    margin-top: 1%;

    h2 {
      margin-left: 10%;
    }
  }
}


.image {
  background-color: red;
  width: 35%;
  height: 80%;
  margin-right: 4%;
  margin-top: 8%;
  border-radius: 1rem;
  background-image: url(../../../assets/images/acu.jpeg);
  -webkit-background-size: cover;
  background-size: cover;
}

.team {
  background-color: yellow;
  width: 100%;
  height: 30rem;
}

.contacts {
  background-color: navy;
  width: 100%;
  height: 35rem;

}

footer {
  background-color: black;
  width: 100%;
  height: 18rem;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem;
}
